



.table_div{
    margin-top: 100px;
}
.output_table{
    width: 1000px;
    
}
.table_tr{

    display: flex;
    align-items: center;
    justify-content:  space-between;
}
 .table_th{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: bisque;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.table_td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    padding:5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.table_edit_btn{
    padding: 3px 10px;
    background-color: green;
    color:white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}
.table_delete_btn{
    padding: 3px 10px;
    background-color: red;
    color:white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.error_message{
    color: red;
    margin:3px 5px;
    font-size: 14px;
}

.pageNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap:20px;
}
.pageNumber p{
    text-align: center;
    width: 25px;
    height: 25px;
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
}

.pageNumber .activeLink{
    background-color: red;
    color: white;
    transition:  .1s linear;
}

.btnClass {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonClass{
    padding: 5px 10px;
    color: white;
    background-color: rgb(81, 81, 251);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.inactive{
    color: black;
    background-color: #999;
}
